body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    margin: auto;
    text-align: center;
    width: 100%;
    max-width: 600px;
}

h1 {
    font-weight: 300;
    margin-bottom: 20px;
    color: #333;
}

.search-box {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="search"] {
    width: 90%;
    padding: 14px 16px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.2s;
}

input[type="search"]:focus {
    border-color: #333;
    background: #fff;
}

#results {
    margin-top: 40px;
    text-align: left;
    padding: 0 10px;
}

.item {
    display: flex;
    gap: 14px;
    align-items: flex-start;
    padding: 14px;
}

.item img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 8px;
    flex-shrink: 0;
}

.item .text {
    flex: 1;
}

.item a {
    text-decoration: none;
    font-weight: bold;
    color: black
}

.item a:hover {
    text-decoration: none;
    color: #0015ff
}

.item .overview {
    display: block;
    color: #666;
    margin-top: 4px;
     display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}